/* 
    Document   : myStyle
    Created on : 15-Jan-2014, 11:20:21
    Author     : Damian O'Rourke
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/*as I want to have this css for iphone portrait for example*/
p{
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
}

hr{
    max-width: 320px;
    margin: 0 auto;
}

form{
    max-width: 240px;
    margin: 0 auto;
}

legend{
    max-width: 320px;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 112px;
}
